.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    grid-auto-rows: 20px;
    align-items: start;
  }
.item1{
    width:150px;
    height:60px; 
    border: 2px solid red;
}
.class1 {
    width:150px;
    height:60px; 
    background-color: green;
    border: 2px solid red;

}